.container {
  height: 53vh;
  width: 1519px;
  display: flex;
  margin: 10px 0 0 0;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.projects,
.experience,
.education
 {
  height: 53vh;
  width: 450px;
  padding: 20px;
  line-height: 35px;
}

.projects ul,
.education ul {
  list-style-type: none;
}

.projects h2,
.experience h2,
.education h2 {
  margin-bottom: 15px;
}

.projects {
  border-right: 1px solid #AFB5AD;
  margin-left: 10px;
}

.experience {
  border-right: 1px solid #AFB5AD;
  width: 570px;
}

.experience span {
  font-weight:normal;
}

.projects a {
  color: #767D74;
}

.projects a:hover {
  color: #AFB5AD;
}

article a {
  color: #767D74;
}

article a:hover {
  color: #AFB5AD;
}

.projects svg {
  transform: translate(1px, 4px)
}

/* .seperator {
  height: 418px;
  border: 0.5px solid #AFB5AD;
} */

