.container {
  height: auto;
  width: 100%;
  display: flex;
  margin: 10px 0;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
}

.projects,
.experience,
.education
 {
  height: 53vh;
  padding: 20px;
  line-height: 35px;
}

.experience {
  flex-basis: 50%;
}

.projects,
.education {
  flex-basis: 25%;
}

.projects ul,
.education ul {
  list-style-type: none;
}

.projects h2,
.experience h2,
.education h2 {
  margin-bottom: 10px;
}

.projects {
  border-right: 1px solid #AFB5AD;
}

.experience {
  border-right: 1px solid #AFB5AD;
}

.experience span {
  font-weight:normal;
}

.projects a {
  color: #767D74;
}

.projects a:hover {
  color: #AFB5AD;
}

article a {
  color: #767D74;
}

article a:hover {
  color: #AFB5AD;
}

.projects svg {
  transform: translate(1px, 4px)
}

@media (max-width: 768px) { 
  .container {
    flex-direction: column; /* Stack items vertically */
  }

  .projects,
  .experience,
  .education {
    min-width:  95%; /* Full width for each section */
    height: auto; /* Remove fixed height */
    border-right: none; /* Remove dividers */
    border-bottom: 1px solid #AFB5AD; /* Optional: add dividers between stacked sections */
    text-align: center;
    font-size: 16px;
  }

  .education {
    border-bottom: none; /* Remove border for the last item */
  }
}

@media (max-width: 1024px) { 
  .container {
    flex-direction: column; /* Stack items vertically */
  }

  .projects,
  .experience,
  .education {
    min-width:  90%; /* Full width for each section */
    height: auto; /* Remove fixed height */
    border-right: none; /* Remove dividers */
    border-bottom: 1px solid #AFB5AD; /* Optional: add dividers between stacked sections */
    text-align: center;
    font-size: 16px;
  }

  .education {
    border-bottom: none; /* Remove border for the last item */
  }
}