.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;

  /* height: 30vh; */

  gap: 1rem;
}

.wrapper article svg {
  min-width: 50px;
  min-height: 50px;
}

@media (max-width: 768px) {
  .wrapper {
    flex-wrap: wrap;
  }


  .wrapper article {
    min-width: 20px;
    min-height: 20px;
  }
}

@media (max-width: 1024px) {
  .wrapper {
    flex-wrap: wrap;
  }


  .wrapper article {
    min-width: 30px;
    min-height: 30px;
  }
}