.skills {
  height: 50vh;
  max-width: 1519px;

  /* border: 1px solid #AFB5AD; */
  border-top: 1px solid #AFB5AD;

  padding: 30px;
}

.skills h2 {
  margin-top: 10px;
  padding-left: 60px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  max-height: 40vh;

  border: 1px solid #AFB5AD;
  gap: 2rem;
}


.wrapper article {
  border-radius: 15px;

  /* padding: 20px; */
  text-align: left;
}

.wrapper article p {
  margin-top: 15px;
  margin-bottom: 15px;
}

.wrapper footer {
  color: #767D74;
}